body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

.chat-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

#chat-window {
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: #efefef;
    margin-bottom: 10px;
}

.input-area {
    display: flex;
    align-items: center;
}

input[type="text"], button {
    margin: 5px;
    padding: 8px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    background-color: #dfdfdf;
}

input[type="text"] {
    flex: 1;
}

button {
    background-color: #dfdfdf;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #a6f4ff;
    border-color: #39b1e3;
}

.message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: #efefef;
    word-break: break-all;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efefef;
    padding: 20px;
    border: 2px solid #7c7c7c;
    border-radius: 5px;
    color: #000000;
    z-index: 2;
}

#modal h2 {
    color: #000000;
}

#username-input {
    margin-bottom: 10px;
}

.username {
    color: red;
    font-weight: bold;
}